 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body{
    background:hsl(0, 0%, 8%) ;
    text-align: center;
    font-family: "inter";
}
.card{
    background: hsl(0, 0%, 12%);
    border-radius: 6px;
    display: inline-block;
    height: 620px;
    width: 375px;
    margin-top: 25%;
    margin-bottom: 25%;
}

.img{
    border-radius: 100%;
    margin-top: 40px;
    width: 132px;
    height: 128px;
    object-fit: cover;
}

.name, .me, .btn{
    color: white;
}

.name{
    font-family: "inter";
    font-weight: 600;
    margin-bottom: -5px;
}

.me{
    font-weight: 400;
    font-size: 14px;
}

.place{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-bottom: 25px;
}

.btn{
    background-color: hsl(0, 0%, 20%);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    padding: 14px 20px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
}