 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background:hsl(0, 0%, 8%) ;
    text-align: center;
    font-family: "inter";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.card{
    background: hsl(0, 0%, 12%);
    border-radius: 6px;
    height: 620px;
    width: 375px;
}

.img{
    border-radius: 100%;
    margin-top: 40px;
    width: 132px;
    height: 128px;
    object-fit: cover;
}

.name, .me, .btn{
    color: white;
}

.name{
    font-family: "inter";
    font-weight: 600;
    margin-bottom: 10px;
}

.me{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.place{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-bottom: 15px;
}

.btn{
    background-color: hsl(0, 0%, 20%);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    padding: 14px 20px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
    transition: transform 500ms;
}

.btn:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.btn:hover,
.btn:focus-visible{
    transform: translateY(-0.20rem);
}